@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



.chat {
    flex: 0.55;
    display: flex;
    /* background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7150210425967262) 10%, rgba(251, 251, 251, 0.6561975131849616) 100%); */
    background-color: #647E68;
    flex-direction: column;

}

.chat_box {
    background-color: white;
    height: 100%;
    margin-top: 40px;
    margin-right: 6px;
    margin-bottom: 14px;
    border-radius: 5px;
    position: relative;
}

.chat-room-name {
    margin: 0px;
}

.chat-room-last-seen {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    margin: 0;
}

.chat__header {
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid rgb(244, 244, 244);
    /*border-top: 1px solid lightgray; */
    border-radius: 5px 5px 0px 0px;
    /* background: rgb(252, 252, 252);
    background: linear-gradient(180deg, rgba(252, 252, 252, 1) 13%, rgba(240, 183, 183, 1) 100%); */
    background-color: #562B08;
}

.chat_headerInfo {
    flex: 1;
    padding-left: 20px;
    color: white;
}

.chat_headerInfo>h3 {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__header > button{
    background: none;
    box-shadow: none;
}

.chat_headerInfo>p {
    color: gray;
}

.profile__avatar {
    display: flex;
    flex-wrap: wrap;
}

.profile__avatar>img {
    border-radius: 50px;
}

.sub-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background: rgb(240, 183, 183);
    background: linear-gradient(180deg, rgba(240, 183, 183, 1) 13%, rgba(231, 195, 195, 1) 100%); */
    background-color: #562B08;
    color: white;
}

.chat__footer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    height: 62px;

    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.chat__footer>form {
    flex: 1;
    display: flex;

}

.chat__footer>form>input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    margin: 0 10px 0px 10px;
}

.chat__footer>form>button {
    display: none;
}

.chat__main {
    flex: 1;
    padding: 30px;
    background-color: #D8D8D8;
    /* background: rgb(234, 248, 196);
    background: linear-gradient(180deg, rgba(234, 248, 196, 1) 13%, rgba(234, 248, 196, 1) 51%, rgba(255, 197, 197, 1) 100%); */
    overflow-y: scroll;
    position: absolute;
    height: 70.90%;
    width: 100%;
    bottom: 59px;

}

.chat_message {
    position: relative;
    font-size: 13px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    /* background-image: linear-gradient(to right, #f66565 0%, #fd8585 51%, #f66565 100%); */
    background-color: #49634d;
    color: white;
    width: fit-content;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.chat_receiver{
    position: relative;
    font-size: 13px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    width: fit-content;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    margin-left: auto;
    background-color: #f7ded4;
}

.chat_name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

.chat_timestemp {
    margin-left: 10px;
    font-size: 8px;
}