@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');


.login {
    width: 500px;
    align-items: center;
    
   

}

.login > h1{
    font-family: 'Ms Madi', cursive;
    padding-left: 150px;
    color: aliceblue;
}

.Signup_form {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(107, 107, 107, 0.402);
    color: rgb(255, 255, 255);
    display: flex;
    flex: 1;
    flex-direction: column;
    

    padding: 13px;
    border-radius: 10px;
    box-shadow: 0px 3px 29px -4px rgb(15, 15, 15);


}

h3 {
    align-self: center;
}

button{
    background-image: linear-gradient(to right, #647E68 0%, #586f5c 51%, #4c614f 100%);
    
    border: none;
    box-shadow: 0px 3px 29px -4px rgb(9, 9, 9);
}

button:hover {
    background-position: right center;
    border: none;
    /* change the direction of the change here */
}

.google-signin{
    align-self: center;
}

.google{
    display: inline-block;
    align-self: center;
    padding: 5px;
    margin-left: 40px;
    background-color: #182747;
    box-shadow: 0px 3px 29px -4px rgb(1, 1, 1);
    border-radius: 20px;
}

.google > h6{
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    color: white;
}

.forgot-password{
    color: white;
}
.p-4{
    color: white;
}