.sidebarchat {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 6px;
    padding: 10px;
    transition: 0.4s;
    opacity: 1;
    color: black;
}

.sidebarchat>.sidebarchat__header {
    display: flex;
    flex-direction: row;
 

}

.sidebarchat:hover {
    background: #562B08;
    background: linear-gradient(198deg, #562B08 13%, #6a401d 51%, #926a49 100%);
   
    opacity: 2;
    color: rgb(255, 255, 255);

}


